terratowns_endpoint= "https://terratowns.cloud:/api" 

arcanum = {
  public_path = "/workspace/terraform-beginner-bootcamp-2023/public/arcanum"
  content_version = 1 
}

gaming = {
  public_path = "/workspace/terraform-beginner-bootcamp-2023/public/gaming"
  content_version = 1 
}

